{% extends 'admin/base.html' %}

  {% block body %}

      <main class="app-main">
        <!--begin::App Content Header-->
        <div class="app-content-header">
          <!--begin::Container-->
          <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
              <div class="col-sm-6"><h3 class="mb-0">Tableau de Bord </h3></div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                  <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link text-danger fw-bold">
                    <i class="bi bi-box-arrow-right me-2"></i> Déconnexion
                    </a>
                   </li>
                </ol>
              </div>
            </div>
            <!--end::Row-->
          </div>
          <!--end::Container-->
        </div>
        <div class="app-content">
          <!--begin::Container-->
          <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon text-bg-primary shadow-sm">
                    <i class="bi bi-gear-fill"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text">Controlle de Sécurité</span>
                    <span class="info-box-number">
                      90
                      <small>%</small>
                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon text-bg-primary shadow-sm">
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text">Commentaires</span>
                    <span class="info-box-number">25</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <!-- fix for small devices only -->
              <!-- <div class="clearfix hidden-md-up"></div> -->
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon text-bg-primary shadow-sm">
                    <i class="bi bi-cart-fill"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text">Déjà téléchargé</span>
                    <span class="info-box-number">60</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon text-bg-primary shadow-sm">
                    <i class="bi bi-people-fill"></i>
                  </span>
                  <div class="info-box-content">
                    <span class="info-box-text">Nouveaux utilisateurs</span>
                    <span class="info-box-number">8</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!--begin::Row-->
             {% if is_medecin %} 
            <div class="row">

              <div class="col-md-12">
                <div class="card mb-4">
                  <div class="card-body">
                    <!--begin::Row-->
                    <div class="row">
                      <div class="col-md-12">
                        <p class="text-center">
                          <strong>Statistiques mensuelles de l'activité médicale</strong>
                        </p>
                        <div id="sales-chart"></div>
                          <a href="{% url 'details_rendezvous' %}" class="btn btn-outline-primary mt-3">Voir les détails</a>


                      </div>
                    
                    </div>
                    {% else %}  
                    
                    <div class="row">

                    <div class="col-md-12">
                      <div class="card mb-4">
                        <div class="card-body">
                          <!--begin::Row-->
                          <div class="row">
                            <div class="col-md-12">
                              <p class="text-center">
                                <strong>Vos Statistiques mensuelles</strong>
                              </p>
                              <div id="sales-chart"></div>
                                <a href="{% url 'details_rendezvous' %}" class="btn btn-outline-primary mt-3">Détails</a>


                            </div>
                    
                    </div>
                     {% endif %} 
                    <!--end::Row-->
                  </div>
                  <!-- ./card-body -->
                  <div class="card-footer">
                    <!--begin::Row-->
                    <div class="row">
                      <div class="col-md-3 col-6">
                       
                      </div>
                    </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="card mb-4">
                        <div class="card-header">
                    <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">Utilisateurs récents</h3>
                          <!-- outils ici -->
                          <div class="card-tools">
                            <span class="badge text-bg-danger"> 8 Nouveaux utilisateurs</span>
                            <button
                              type="button"
                              class="btn btn-tool"
                              data-lte-toggle="card-collapse"
                            >
                              <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
                              <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-lte-toggle="card-remove">
                              <i class="bi bi-x-lg"></i>
                            </button>
                          </div>
                        </div>
                        <div class="card-body">
                          <!-- contenu des membres ici -->
                          <div class="row text-center m-1">
                            <div class="col-3 p-2">
                              <img
                                class="img-fluid rounded-circle"
                                src="../static/img/6.jpeg"
                                alt="User Image"
                              />
                              <a
                                class="btn fw-bold fs-7 text-secondary text-truncate w-100 p-0"
                                href="#"
                              >
                                Dr. Alexander Pierce
                              </a>
                              <div class="fs-8">Aujourd'hui</div>
                            </div>
                            <div class="col-3 p-2">
                              <img
                                class="img-fluid rounded-circle"
                                src="../static/img/7.jpeg"
                                alt="User Image"
                              />
                              <a
                                class="btn fw-bold fs-7 text-secondary text-truncate w-100 p-0"
                                href="#"
                              >
                                Dr. Stella DANO
                              </a>
                              <div class="fs-8">Hier</div>
                            </div>
                            <div class="col-3 p-2">
                              <img
                                class="img-fluid rounded-circle"
                                src="../static/img/H1.jpeg"
                                alt="User Image"
                              />
                              <a
                                class="btn fw-bold fs-7 text-secondary text-truncate w-100 p-0"
                                href="#"
                              >
                                Dr. Jane SOWOU
                              </a>
                              <div class="fs-8">12 Avril</div>
                            </div>
                            <div class="col-3 p-2">
                              <img
                                class="img-fluid rounded-circle"
                                src="../static/img/N3.jpeg"
                                alt="User Image"
                              />
                              <a
                                class="btn fw-bold fs-7 text-secondary text-truncate w-100 p-0"
                                href="#"
                              >
                                Dr. Jessica AKAKPO
                              </a>
                              <div class="fs-8">12 Avril</div>
                            </div>
                            <div class="col-3 p-2">
                              <img
                                class="img-fluid rounded-circle"
                                src="../static/img/9.png"
                                alt="User Image"
                              />
                              <a
                                class="btn fw-bold fs-7 text-secondary text-truncate w-100 p-0"
                                href="#"
                              >
                                Dr. Nathalie GENA
                              </a>
                              <div class="fs-8">13 Avril</div>
                            </div>
                            <div class="col-3 p-2">
                              <img
                                class="img-fluid rounded-circle"
                                src="../static/img/10.jpeg"
                                alt="User Image"
                              />
                              <a
                                class="btn fw-bold fs-7 text-secondary text-truncate w-100 p-0"
                                href="#"
                              >
                                Dr. Sarah POULI
                              </a>
                              <div class="fs-8">14 Avril</div>
                            </div>
                            <div class="col-3 p-2">
                              <img
                                class="img-fluid rounded-circle"
                                src="../static/img/12.jpeg"
                                alt="User Image"
                              />
                              <a
                                class="btn fw-bold fs-7 text-secondary text-truncate w-100 p-0"
                                href="#"
                              >
                                Dr. Eléna Bao
                              </a>
                              <div class="fs-8">15 Avril</div>
                            </div>
                            <div class="col-3 p-2">
                              <img
                                class="img-fluid rounded-circle"
                                src="../static/img/H2.jpeg"
                                alt="User Image"
                              />
                              <a
                                class="btn fw-bold fs-7 text-secondary text-truncate w-100 p-0"
                                href="#"
                              >
                                Dr. AWAL Mohamed
                              </a>
                              <div class="fs-8">15 Avril</div>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer text-center">
                          <a href="#">Voir tous les utilisateurs </a>
                        </div>
                      </div>
                    </div>
                 
                    <!--end::Row-->
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="card mb-4">
                        <div class="card-header">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title"><strong>Ordre d'utilisation des Fonctionnalités</strong> </h3>
                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse">
                          <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
                          <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-lte-toggle="card-remove">
                          <i class="bi bi-x-lg"></i>
                        </button>
                      </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                      <div class="table-responsive">
                        <table class="table m-0">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Fonctionnalités</th>
                              <th>Status</th>
                              <th>Utilisations</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <a
                                  href="pages/examples/invoice.html"
                                  class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                  >O00AC</a
                                >
                              </td>
                              <td><strong>Discussion Médecin-Patient(Chat)</strong></td>
                              <td><span class="btn btn-sm btn-primary"> Shipped </span></td>
                              <td><div id="table-sparkline-1"></div></td>
                            </tr>
                            <tr>
                              <td>
                                <a
                                  href="pages/examples/invoice.html"
                                  class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                  >000AB</a
                                >
                              </td>
                              <td><strong>Assistant Automatique(Chat Box)</strong></td>
                              <td><span class="btn btn-sm btn-primary">Pending</span></td>
                              <td><div id="table-sparkline-2"></div></td>
                            </tr>
                            <tr>
                              <td>
                                <a
                                  href="pages/examples/invoice.html"
                                  class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                  >000AD</a
                                >
                              </td>
                              <td><strong>Ajout Patient</strong></td>
                              <td><span class="btn btn-sm btn-primary"> Delivered </span></td>
                              <td><div id="table-sparkline-3"></div></td>
                            </tr>
                            <tr>
                              <td>
                                <a
                                  href="pages/examples/invoice.html"
                                  class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                  >000AE</a
                                >
                              </td>
                              <td><strong>Ordonnaces </strong></td>
                              <td><span class="btn btn-sm btn-primary">Processing</span></td>
                              <td><div id="table-sparkline-4"></div></td>
                            </tr>
                            <tr>
                              <td>
                                <a
                                  href="pages/examples/invoice.html"
                                  class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                  >000AF</a
                                >
                              </td>
                              <td><strong>Consultation du Dossier Médical</strong></td>
                              <td><span class="btn btn-sm btn-primary">Pending</span></td>
                              <td><div id="table-sparkline-5"></div></td>
                            </tr>
                            <tr>
                              <td>
                                <a
                                  href="pages/examples/invoice.html"
                                  class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                  >000AG</a
                                >
                              </td>
                              <td><strong>Utilisation des rappels</strong></td>
                              <td><span class="btn btn-sm btn-primary"> Delivered </span></td>
                              <td><div id="table-sparkline-6"></div></td>
                            </tr>
                            <tr>
                              <td>
                                <a
                                  href="pages/examples/invoice.html"
                                  class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                  >000AH</a
                                >
                              </td>
                              <td><strong>Inscription</strong></td>
                              <td><span class="btn btn-sm btn-primary">Shipped</span></td>
                              <td><div id="table-sparkline-7"></div></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                      <a href="javascript:void(0)" class="btn btn-sm btn-primary float-start">
                        Ajouter de nouvelles fonctionnalités
                      </a>
                      <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-end">
                       Voir toutes les fonctionnalités
                      </a>
                    </div>
                    <!-- /.card-footer -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              
              </div>
              <!--end::Row-->
            </div>
            <!--end::Container-->
          </div>
                  <!-- /.card-footer -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!--end::Row-->
           
        <!--end::App Content-->
      </main>
  {% endblock %}
    
      